<div class="sidebar">
  <div class="sidebar-header" ng-controller="navbarCtrl">
        <img src="{{avatar}}" class="img-avatar" alt="Avatar">
        <div>
            <strong>{{username}}</strong>
        </div>
        <div class="text-muted">
            <small>Founder &amp; CEO</small>
        </div>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-link">
                <i class="icon-settings"></i>
            </button>
            <button type="button" class="btn btn-link">
                <i class="icon-speech"></i>
                <span class="label label-warning label-pill">5</span>
            </button>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-user"></i>
                </button>
                <div class="dropdown-menu" ng-controller = "logout as log">
                    <div class="dropdown-header text-xs-center">
                        <strong>{{ 'ACCOUNT' | translate }}</strong>
                    </div>
                    <a class="dropdown-item" href="#"><i class="fa fa-user"></i> {{ 'PROFILE' | translate }}</a>
                    <a class="dropdown-item" href="#" ng-click="log.call()"><i class="fa fa-lock"></i> {{ 'LOGOUT' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">
                Dashboard
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-speedometer"></i> {{ 'DASHBOARD' | translate }} <!-- <span class="label label-info">NEW</span> --></a>
            </li>
        </ul>
    </nav>
</div>
