
<div class="container" ng-controller="checkLoginCtrl">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <div vamiddle class="card-group">
                <div class="card  p-a-2">
                    <div class="card-block">
                        <h1>Login</h1>
                        <p class="text-muted">Sign In to your account</p>
                        <p class="text-muted">{{ statusMsg }}</p>
                        <form id="loginForm" ng-submit="submit()" ng-controller="loginCtrl">
                            <div class="input-group m-b-1">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input type="text" class="form-control" ng-model="user" placeholder="Username">
                            </div>
                            <div class="input-group m-b-2">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" class="form-control" ng-model="pass" placeholder="Password">
                            </div>

                        </form>
                        <div class="row">

                            <div class="col-xs-6">
                                <button type="submit" form="loginForm" value="Login" class="btn btn-primary p-x-2">Login</button>
                            </div>
                        </div>



                    </div>

                </div>

                <div class="card card-inverse card-primary p-y-3" style="width:44%">
                    <div class="card-block text-xs-center">
                        <div>
                            <h2>Sign up now!</h2>
                            <p>You will need to connect your fitbit account with the app</p>
                            <button type="button" ui-sref="appSimple.register" class="btn btn-primary active m-t-1">Register Now!</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
