<div class="animated fadeIn">
    <h1> </h1>
</div>

<div class="card" ng-controller="therapistCtrl">
    <div class="card-block">

        <ul class="icons-list">
            <li ng-repeat="patient in patients">
              <div class="avatar pull-xs-left">
                  <img src="{{patient.img}}" class="img-avatar" alt="admin@bootstrapmaster.com">
              </div>
                <div class="desc">
                    <a href="/#/user?id={{patient.id}}" ><div class="title">{{patient.fullname}}</div></a>
                    <small>{{patient.username}}</small>
                </div>
                <div class="value">
                    <div class="small text-muted">Mood points</div>
                    <strong>1924</strong>
                </div>

            </li>

        </ul>
    </div>
    <!--/.col-->
</div>
